.fsa {
  display: flex;
}

.fsa h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.fsa img {
  width: 80%;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.description button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #432371;
  text-transform: uppercase;
  margin: 10px 0;
}