.container {
  flex-direction: column;
}

.section {
  padding: 0px 100px;
}

.section h3 {
  margin-bottom: 20px;
}

.project {
  display: flex;
  margin-bottom: 25px;
}

.project img {
  width: 50%;
  border-radius: 5px;
  margin-left: 65px;
}

.description p {
  margin-bottom: 10px;
}

.description img {
  width: 100%;
  border-radius: 5px;
}

.project button, .description button {
  display: flex;
  border: none;
  background-color: #432371;
  color: #FFFFFF;
  font-size: 8pt;
  padding: 5px 15px;
  margin: 20px auto;
  border-radius: 15px;
  text-transform: uppercase;
}

/* CAS */
.cas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.casCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cas img {
  width: 30%;
  margin: 10px;
  object-fit: cover;
}