#root {
  height: 94vh;
}

body {
  background-color: rgb(10,10,10);
  position: relative;
  margin: 25px 56px;
  font-family: 'Open Sans', 'Inter', 'Arial', sans-serif;
  font-size: 10pt;
  color: #432371;
  line-height: 1.5;
}

h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  color: #FAAE7B;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background: #FFFFFF;
  padding: 5px 30px;
  width: 100%;
  position: absolute; /* navbar will overlap on top of imgs */
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  font-size: 9pt;
}

.nav a {
  color: #432371;
  margin: 0px 15px;
}

/* Socials */
.socials {
  display: flex;
}

.socials a {
  margin: 0 5px;
  padding: 0;
}

.socials img {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

/* Image Slider */
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
}

.arrow {
  position: absolute; /* moves an element relative to its nearest positioned ancestor (body) */
  bottom: 45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.arrow button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  width: 50px;
  height: 50px;
  opacity: 80%;
}

/* Footer */
.footer {
  color: #FFFFFF;
  font-size: 9pt;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

/* About */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.profile {
  text-align: right;
  width: 600px;
}

.profile h2 {
  font-size: 50pt;
  text-transform: uppercase;
}

.profile p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills {
  text-align: left;
  margin: 20px 0 0 0;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #432371;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 12pt;
  width: 100px;
  padding: 5px 15px;
  margin: 50px auto 0 auto;
  border-radius: 15px;
  opacity: 20%;
}